@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap&subset=vietnamese");

@font-face {
  font-family: "UTM-Impact";
  src: url("../fonts/UTM\ Impact.ttf") format("truetype");
}

/*------------- screen -width-----------*/

$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;
$width-12: 1200px;
$width-995: 995px;


/*-------------- color -----------------*/

$color__main: #01a050;
$color__text: #000000;
$color__text--gray: #3f3f3f;
$color__text--header: #fefefe;
$color__border: #e1e1e1;
$color__placeholder: #bfbfbf;

/*-------------font------------------*/

$font-def: "Roboto", sans-serif;
$font-2nd: "UTM-Impact";

/*---------------mixin------------------*/
@mixin mini-item {
  display: flex;
  margin-bottom: 2rem;
  &-img {
    width: 45%;
    .c-img {
      width: 100%;
      padding-top: 62.5%;
    }

    @include mobile(){
      width: 40%;
    }
  }

  &__title {
    width: 55%;
    padding-left: 1rem;
    font-size: 1.4rem;
    color: $color__text;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    white-space: initial;

    @include mobile(){
      width: 60%;
      padding-left: 2rem;
    }
  }
}

@mixin mobile {
  @media (max-width: #{$mobile-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin widt12 {
  @media (max-width: #{$width-12}) {
    @content;
  }
}

@mixin widt995 {
  @media (max-width: #{$width-995}) {
    @content;
  }
}

/*---------------------------------------*/

body {
  font-family: $font-def;
}

a:hover {
  color: $color__main !important;
  transition: 0.4s all ease-in-out;
}

/*-------------header------------------*/
header {
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
  min-height: 6rem;
  padding: 0.5rem 0;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: wrap;
  &-logo {
    font-family: $font-2nd;
    font-size: 3.4rem;
    &--main {
      color: $color__main;
    }
  }

  &-menu {
    display: flex;

    @include widt995(){
      display: none;
    }

    &-item {
      &__link {
        text-transform: uppercase;
        color: $color__text;
        font-size: medium;
        padding: 1rem 2rem;
      }
    }
  }

  &-menu-mobile {
    width: 100%;
    display: none;

    &-item{

      &:first-child &__link{
        border: none;
      }
      &__link{
        padding: 1rem;
        text-transform: uppercase;
        color: $color__main;
        width: 100%;
        border-top: 1px solid #bfbfbf;
      
      }
    }

    @include widt995() {
      display: block;
    }
  }

  &-search {
    display: flex;
    align-items: center;
    border: 1px solid $color__border;
    padding: 0.5rem;
    border-radius: 5px;
    min-width: 185px;

    @include desktop() {
      display: none;
    }

    &__input {
      width: 100%;
      padding: 0.5rem 0;

      ::placeholder {
        color: $color__placeholder;
      }
    }

    &__btn {
      border: none;
      background: none;
      font-size: 1.3rem;
      color: $color__placeholder;
      cursor: pointer;
    }
  }

  &-btn {
    padding: 1rem;
    border: none;
    background: none;
    font-size: 2rem;
    cursor: pointer;
    color: #fff;
    background: $color__main;
    display: none;

    @include widt995(){
      display: block;
    }
  }

  @include desktop() {
    padding: 0 1rem;
  }
}

/*---------------main------------------*/
.main {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 3rem;
  flex-flow: wrap;

  @include widt12(){
    padding: 0 1rem;
  }
  &-content {
    width: calc(75% - 3rem);
    &-hot {
      display: flex;
      justify-content: space-between;
      flex-flow: wrap;
      &-item {
        &__title {
          font-size: 2.4rem;
          font-weight: 500;
          margin: 2rem 0;
        }

        &__ct {
          font-size: 1.5rem;
          color: $color__text--gray;
          max-height: 6rem;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-line-clamp: 2;
          white-space: initial;
        }

        &-img {
          padding-top: 60.05%;
        }
      }

      &-item--big {
        width: calc(65% - 1.5rem);

        @include mobile(){
          width: 100%;

          margin-bottom: 2rem;
        }
      }

      &-list {
        width: calc(35% - 1.5rem);

        @include mobile(){
          width: 100%;
        }

        &-item {
          @include mini-item();
        }
      }
    }

    &-news {
      display: flex;
      flex-flow: wrap;
      justify-content: space-between;

      &-title {
        border-bottom: 1px solid $color__main;
        width: 100%;
        margin-bottom: 2rem;

        &__type {
          margin-bottom: -1px;
          text-transform: uppercase;
          background: $color__main;
          color: #fff;
          font-size: 1.8rem;
          font-weight: bold;
          padding: 1rem 2rem;

          &:hover {
            color: #fff !important;
          }
        }
      }

      &-item {
        width: calc(65% - 1.5rem);
        display: flex;
        flex-flow: wrap;

        @include mobile(){
          width: 100%;
          margin-bottom: 2rem;
        }

        &-title {
          font-weight: bold;
          color: $color__text;
          width: 100%;
          margin-bottom: 1rem;
        }

        &-img {
          width: 40%;
          .c-img {
            padding-top: 66.6%;
          }
        }

        &-ct {
          width: 60%;
          padding-left: 2rem;
          text-align: justify;
          font-size: 1.4rem;
          color: $color__text--gray;
        }
      }

      &-list {
        width: calc(35% - 1.5rem);
        display: flex;
        flex-direction: column;

       

        @include mobile(){
          width: 100%;
        }

        &-item {
          @include mini-item();
        }
      }
    }
     @include tablet(){
       width: 100%;
     }
  }

  &-line {
    width: 1px;
    background: $color__border;
  }

  &-sidebar {
    width: calc(25% - 3rem);

    

    .news-most-viewed {
      margin: 1.5rem 0;
      &__title {
        text-transform: uppercase;
        font-size: 2.1rem;
        font-weight: 500;
        padding: 1.5rem 0;
        border-bottom: 2px solid $color__main;
        margin-bottom: 1.5rem;
      }

      &-list {
        display: flex;
        flex-direction: column;

        &-item {
          @include mini-item();

          &__title {
            font-weight: 500;
            font-size: 1.4rem;
          }
        }
      }
    }

    @include tablet(){
      width: 100%;

      .siderbar-qc{
        display: flex;
        justify-content: center;
      }
    }
  }
}

/*---------------footer----------------*/

footer {
  background: $color__main;
  padding: 3rem 0 5rem 0;
  position: relative;

  .footer {
    display: flex;
    flex-flow: wrap;
    @include widt12(){
      padding: 0 1rem;
    }

    &-col {
      width: 25%;
      display: flex;
      flex-direction: column;
      padding-right: 5rem;
      margin-bottom: 2rem;

      @include desktop(){
        width: 50%;
      }

      @include tablet(){
        width: 90%;
      }

      &__title {
        font-size: 2.1rem;
        font-weight: 100;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 2rem;
      }

      &-list {
        display: flex;
        flex-direction: column;

        a:hover {
          color: $color__text--gray !important;
        }

        &__item {
          color: #fff;
          margin-bottom: 1rem;
          font-size: 1.5rem;
          text-align: justify;

          &::before {
            content: "\f105";
            font-family: "fontawesome";
          }
        }

        &__item--none {
          &::before {
            content: "";
          }
        }

        &__item--mail {
          &::before {
            content: "\f0e0";
            margin-right: 0.5rem;
            width: 2rem;
            display: inline-block;
          }
        }

        &__item--phone {
          &::before {
            content: "\f095";
            margin-right: 0.5rem;
            width: 2rem;
            display: inline-block;
          }
        }
      }
    }
  }

  .all-right-reserved {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    background: #fff;
    font-size: 1.4rem;
    padding: 1rem 0;
    color: #454545;
  }
}
